# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# Entornos virtuales
venv/
.venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Docker
.docker/

# Variables de entorno y secretos
.env
.env.local
*.pem

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini